<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Bills Index</h1>
            <%= link_to "New Bill", new_bill_url, class: "btn btn-primary" %>
        </div>
    </div>
</div>

